<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/metro/assets/img/icon.ico">

    <title>Admin: Admin Panel</title>

    <!-- Bootstrap core CSS -->
    <link href="/metro/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/metro/static/css/about.css" rel="stylesheet">
    <link href="/metro/static/css/dir.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/metro/static/css/justified-nav.css" rel="stylesheet">


  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted"><a href ="/metro/">DMRC</a> Admin Page</h3>
        <ul class="nav nav-justified">
          <li><a href="/metro/admin">Home</a></li>
          <li class="active"><a href="/metro/addmin">Admin Panel</a></li>
          <li><a href="/metro/addstation">Add Station</a></li>
          <li><a href="/metro/editinfo">Edit Station Info.</a></li>
          <li><a href="/metro/re_view">Approve Reviews</a></li>
          <li><a href="/metro/places">Modify Places</a></li>
          <li><a href="/metro/logout"><font color="red">Logout</font></a></li>
        </ul>
      </div>
	<br>
	<br>
	<div class="row">
        <div class="col-lg-6">
          <h2>Add Admin</h2>
		  <form role="form" class="col-md-9 go-right" action="/metro/addadmin" method="post">
            <p>Admin Username (Email id):</p>
      <div class="form-group">
      <input id="source" name="user" type="text" class="form-control" required>
      <label for="source">Username</label>
      </div>

           <p>Admin Password:</p>
      <div class="form-group">
      <input id="source2" name="passa" type="password" class="form-control" required>
      <label for="source2">Password</label>
      </div>

           <p>Repeat Admin Password:</p>
      <div class="form-group">
      <input id="source3" name="passb" type="password" class="form-control" required>
      <label for="source3">Password</label>
      </div>

		<br>

        <button type="submit" class="btn btn-default">Create Admin</button>
    </form>

        </div>
        <div class="col-lg-6">
          <h2>Delete Your Account</h2>
      <form role="form" class="col-md-9 go-right" action="/metro/deladmin" method="post">

          <p>Enter Your Username:</p>
      <div class="form-group">
      <input id="source2" name=usera type="text" class="form-control" required>
      <label for="source2">Username</label>
      </div>

           <p>Enter Your Password:</p>
      <div class="form-group">
      <input id="source2" name="passa" type="password" class="form-control" required>
      <label for="source2">Password</label>
      </div>


    <br>
    <br>

        <button type="submit" class="btn btn-default">Delete Account</button>
    </form>

        </div>
	</div>

	<!-- Site footer -->
      <div class="footer">
        <p>&copy; Adi-Aman-Chait</p>
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
